input[type=text] {
  border: 1px solid #999999;
  border-radius: 0.25em;
  padding: 0.25em;
}

input[type=submit] {
  border-radius: 0.25em;
}

/* label{

} */

.alert-danger {
  color: red;
}

.alert-success {
  color: green;
}

